# =================================================
# Local Development Environment Variables (Required)
# =================================================
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# =================================================
# Optional Environment Variables (Cloudflare Turnstile)
# =================================================
# NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_cloudflare_turnstile_site_key

# =================================================
# Optional Environment Variables (NXCTL API)
# =================================================
# NXCTL_API_URL=http://localhost:8000
# NXCTL_API_TOKEN=your_api_token

# =================================================
# Optional Environment Variables (Maintenance Mode)
# no/yes/auto   -> normal, forced maintenance, maintenance only when Supabase queries fail
# =================================================
NEXT_PUBLIC_MAINTENANCE_MODE=auto

# =================================================
# Optional Environment Variables (Site URL)
# =================================================
NEXT_PUBLIC_SITE_URL=http://localhost:3000
